# Assignment

### Segmenting and Clustering Neighborhoods in Toronto

In this notebook we will be adding to the previous dataframe two new columns for latitute and longitude of each ppostal code.

### Topic 2- Finding the latitude and longitude of eac neighbourhood

Since I was facing some isues with the geocoder library I used the csv file instead.

In [4]:
#including all the required libraries
import numpy as np
import pandas as pd

In [3]:
# loding the csv file from task 1
df = pd.read_csv('dataframe1.csv')
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [5]:
#loading the geodata
url="https://cocl.us/Geospatial_data"
gdf=pd.read_csv(url)
gdf.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### since we have to join the two dataframes we will make their indexes same as well as the column names that are going to be used for joining. here it is postal codes

In [12]:
df.set_index("Postalcode",inplace=True)
df.head()

                Borough                            Neighborhood
Postalcode
M1B         Scarborough                          Rouge, Malvern
M1C         Scarborough  Highland Creek, Rouge Hill, Port Union
M1E         Scarborough       Guildwood, Morningside, West Hill
M1G         Scarborough                                  Woburn
M1H         Scarborough                               Cedarbrae

In [13]:
#making postal codes as indexes so we can join  our neighbourhood dataframe and the geodata dataframe
gdf.set_index("Postal Code",inplace=True)
gdf.rename_axis("Postalcode", axis='index', inplace=True)
gdf.head()

             Latitude  Longitude
Postalcode
M1B         43.806686 -79.194353
M1C         43.784535 -79.160497
M1E         43.763573 -79.188711
M1G         43.770992 -79.216917
M1H         43.773136 -79.239476

In [14]:
#now joining the two data frames
new_df = df.join(gdf)
new_df.head()

,Borough,Neighborhood,Latitude,Longitude
Postalcode,,,,
M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [15]:
new_df.shape

(103, 4)

In [19]:
new_df.reset_index(inplace=True)
new_df.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [22]:
#now save this dataframe into a new csv for task 2
new_df.to_csv("dataframe2.csv",index=False)